* {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-color: #e6b9dd;
}


.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 7%;

}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    background-color: #c9cccf;
    border: none;
    color: #f9bbbb;
    text-transform: lowercase;
    border: none;
    border-radius: 24px;

    ::placeholder {
        color: #f9f9f9;
    }
}

.text-area {
    focus {
        outline: none;
    }
}

.mensaje {
    background-color: #d8dfe8;
    background-image: url(" Imagenes/foto.png");
    background-repeat: round;
    background-size: cover;
    border: none;
    border-radius: 24px;
    color: rgb(4, 160, 160);
    margin-top: 25px;

    .mensaje:focus {
        outline: none;
    }
}

.botones {
    display: flex;
    margin-top: 18px;
}

.copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 336px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: beige;
    cursor: pointer;
    height: 67px;
    width: 250px;
}

.btn-desencriptar {
    background-color: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30PX;
    width: 250px;
}

.informacion {
    color: #495057;
    font-size: 17px;
}

section {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

textarea {
    resize: none;
}